@import "../../Styles/_variables";

.contact{
  background-color: $footer-color;
}

.section {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .contact-info {
    flex: 0 0 48%;
    max-width: 48%;
    font-size: 1.1rem;
    color: $text-color;
    line-height: 1.6;

    p {
      margin: 10px 0;
    }

    strong {
      color: $primary-color;
    }
  }

  .contact-form-wrapper {
    flex: 0 0 48%;
    max-width: 48%;

    .contact-form {
      .form-row {
        display: flex;
        justify-content: space-between;

        .form-group {
          flex: 0 0 48%;
          max-width: 48%;
        }
      }

      .form-group {
        margin-bottom: 20px;

        label {
          font-size: 1.1rem;
          color: $text-color;
          margin-bottom: 10px;
          display: block;
        }

        .form-control {
          width: 100%;
          padding: 10px;
          border-radius: 5px;
          font-size: 1rem;
          color: $text-color;

          &:focus {
            border-color: $primary-color;
            box-shadow: 0 0 5px rgba(255, 105, 0, 0.5);
          }
        }

        textarea.form-control {
          resize: none;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .contact-info,
    .contact-form-wrapper {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 30px;
      font-size: 15px;
    }
  }
}
